.alert-box {
    background-color: blue;
    padding: 100px;
    border-radius: 5px;
    display: none;
}

.list-group {
    display: none;
}



  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 


  .black-bg {
    width : 600px;
    height : 600px;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden;     /* <- display: none 애니메이션 대용  */
    opacity: 0;
    transition: all 1s;
  }

  .show {
    display: block;
  }
  

  .show {
    visibility: visible;        /* block와 비슷한 개념 */
    opacity: 1;
  }


.slide-container {
    width: 300vw;   /* 100vw = 브라우저 폭 */
    transition: all 1s;
} 

.slide-box {
    width: 100vw;
    float: left;
}


.slide-box img {
    width: 100%;
}