.black-bg {
    width : 600px;
    height : 600px;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 6;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    display: none;
}

.white-bg {
background: white;
border-radius: 5px;
padding: 30px;
} 

.show {
display: block;
}


.navbar1 {
    position: fixed;
    width: 120%;
    z-index: 5;
}


.main-bg {
    padding: 100px 200px;
    background-color: lightgray;
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s;
}
